/fe-designer-dragdrop/package-lock.json
/fe-designer/package-lock.json
/performance-benchmark/target/
/performance-benchmark/docs/.obsidian
/.idea
/pdf-creator/logs
*.log
**/*.log
**/**/*.log
**/**/.idea
**/**/*.log
/performance-benchmark/pdf-creator-startup.log
/helper-input-data-creator/target
