html, body {
  width: 210mm;
  height: 297mm;
}
/*** Page-level definitions ***/
@page {
  size: A4 portrait;
  /* MARGINS: __TOP__ __RIGHT__ __BOTTOM__ __LEFT__ */
  margin: __TOP__ __RIGHT__ __BOTTOM__ __LEFT__;
}
.page { position: relative; min-height: 276.7mm; }
.page + .page { page-break-before: page; break-before: page; }

.pagebreak {break-before: always; page-break-after: always; }

/*** Custom font Definitions ***/
@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}
@font-face {
  font-family: 'KIX Barcode';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}

/*** standard element commons ***/
html, html * {
  box-sizing: border-box;
  margin: 0;
}
html,body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
  border:0 none;
  font-family: 'Roboto';
  font-size: 9pt;
}
table {
  border-collapse: collapse;
}
